{% extends 'base.html' %}

{% block content %}
<div class="content parent-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <div class="register-form-wrap bgfff">
                            <h1 class="main_page_title">Đăng ký thành viên</h1>
                            <form method="POST" action="" accept-charset="UTF-8">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6">

                                        <div class="form-group">
                                            <label for="username">Tên tài khoản</label>
                                            <input class="form-control" name="username" type="text" value=""
                                                id="username">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Mật khẩu</label>
                                            <input class="form-control" name="password" type="password" value=""
                                                id="password">
                                        </div>
                                        <div class="form-group">
                                            <label for="repassword">Xác nhận mật khẩu</label>
                                            <input class="form-control" name="repassword" type="password" value=""
                                                id="repassword">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input class="form-control" name="email" type="email" value="" id="email">
                                        </div>
                                        <span class="glyphicon glyphicon-ok text-success"></span> Có tủ phim riêng
                                        <br><br>
                                        <span class="glyphicon glyphicon-ok text-success"></span> Quản lý phim theo ý
                                        muốn <br><br>
                                        <span class="glyphicon glyphicon-ok text-success"></span> Nhận thông báo khi có
                                        tập mới <br> <br>
                                        <span class="glyphicon glyphicon-ok text-success"></span> Chia sẽ tủ phim của
                                        mình cho bạn bè <br><br>
                                        <span class="glyphicon glyphicon-ok text-success"></span> Và nhiều tính năng hấp
                                        dẫn khác nữa...
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6">

                                        <div class="form-group">
                                            <label for="fullname">Họ tên</label>
                                            <input class="form-control" name="fullname" type="text" value=""
                                                id="fullname">
                                        </div>
                                        <div class="form-group">
                                            <label for="bday">Ngày sinh (Ngày/Tháng/Năm)</label>
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <select class="form-control" name="day">
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                        <option value="6">06</option>
                                                        <option value="7">07</option>
                                                        <option value="8">08</option>
                                                        <option value="9">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <select class="form-control" name="month">
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                        <option value="6">06</option>
                                                        <option value="7">07</option>
                                                        <option value="8">08</option>
                                                        <option value="9">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 col-sm-4 col-md-4">
                                                    <input class="form-control" name="year" type="text" value="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="form-group">
                                            <label for="sex">Giới tính</label>
                                            <select class="form-control" id="sex" name="sex">
                                                <option value="0">Nam</option>
                                                <option value="1">Nữ</option>
                                            </select>
                                        </div>
                                         <br>
                                        <div class="form-group">
                                            <label style="font-size: 12px;"><input type="checkbox" id="agree" value="1"
                                                    name="agree" checked="checked"> Tôi đồng ý với các qui định của
                                                website</label>
                                        </div> <br>
                                        <div class="form-group">
                                            <input class="btn btn-primary" type="submit" value="Đăng ký">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">

                        <div class="widget">
                            <h3>Lịch sử xem phim</h3>
                            <div class="history-sidebar">
                                <ul class="history-sidebar-list">
                                   {% for item in history %}
                                    <li class="history-sidebar-item-wrap">
                                        <div class="img">
                                            <a href="https://animetvn.com/xem-phim/f62773-cowboy-bebop-ban-blu-raytap-17.html"
                                                class="">
                                                <img src="{{ item.picture }}"
                                                    class="thumb img-responsive" alt="Cowboy Bebop - Cowboy Bebop [BD]">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <h4><a
                                                    href="https://animetvn.com/xem-phim/f62773-cowboy-bebop-ban-blu-raytap-17.html">{{ item.movieName }}</a></h4>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <a href="https://animetvn.com/lich-su" class="history-film-list-view-more">Xem tất cả</a>

                        <div class="gnarty-offads">
                            <div id="pc_sidebar_300_250"></div>
                        </div>
                        <div class="gnarty-offads">
                            <div class="film-play-ads">




                                <script type="text/javascript"
                                    src="//media1.admicro.vn/ads_codes/ads_box_14468.ads"></script>
                                <script type="text/javascript" src="//media1.admicro.vn/core/admcore.js?id=1"></script>
                                <script type="text/javascript"
                                    src="//media1.admicro.vn/ads_codes/ads_code_14468.ads"></script>
                                <script type="text/javascript"
                                    src="//media1.admicro.vn/ads_codes/ads_code_14468.ads"></script>

                            </div>
                        </div>
                        <div class="widget wranks">
                            <h3>Bảng xếp hạng</h3>
                            <div class="tabs_wrank">

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="wrank-day">
                                        <ul class="rank-film-list">
                                            {% for item in rank %}
                                            <li class="item">
                                                <a href="https://animetvn.com/thong-tin-phim/f2105-one-piece.html">
                                                    <div class="r_c_wrap"><span class="r_c">{{ forloop.counter }}</span></div>
                                                    <img width="" class="thumb lazyload img-responsive"
                                                        src="{{ item.picture }}"
                                                        alt="One Piece - Đảo Hải Tặc | Vua Hải Tặc">
                                                    <h3 class="title">{{ item.movieName }}</h3>
                                                </a>
                                                <div>
                                                    <span class="time">{{ item.chapter }}/{{ item.totalChapter }} Tập</span>
                                                </div>
                                                <div>
                                                    <span class="viewed"><span>Lượt xem:</span> {{ item.views }}</span>
                                                </div>
                                            </li>
                                            {% endfor %}

                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="pc_footer_980_90"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="mobile_footer_300_70"></div>
                </div>
            </div>
        </div>

{% endblock %}



